<div class="login-page-bg">
  <div class="login-page-logo"><img src="https://pbs.twimg.com/profile_images/791245757257056256/Suyd8UvI_400x400.jpg" class="img-circle" width="20%" alt="tenderEasy"></div>

  <form class="login-form">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" id="username" class="form-control" placeholder="Username" ng-model="username" required autofocus/>
    </div>

    <div class="form-group">
      <label for="">Password</label>
      <input type="password" id="password" class="form-control" placeholder="Password" ng-model="password" required/>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block" ng-click="credentialsChecking(username, password)">Login</button>
    <p ng-show="credentialsWarning==true" class="credentials-warning">Invalid Username or Password</p>
  </form>
</div>
